body {
      font-family: 'Franklin Gothic Medium', sans-serif;
      background-color: #f4f6f8;
      text-align: center;
      margin: 0;
      padding: 0;
}

.profile {
      width: 200px;
      border-radius: 70%;
      margin: 40px 0;
}

.bio {
      width: 80%;
      margin-right: 250px;
      margin-left: 200px;
      font-size: 25px;
      color: #555;
}

.btn {
      margin-top: 20px;
      padding: 12px 25px;
      font-size: 25px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
}

.btn:hover {
      background-color: #0056b3;
}
